@{
    ViewData["Title"] = "SuporteTI";
}

<nav id="conteudo_suporte">
    <img src="~/suporte_img.png">
    <div class="conteiner_suporte">
        <div class="titulo">Comece a usar a Dash RHS</div>
        <p class="subtitulo">Agende uma demonstração</p>
        <form action="#">
            <div class="detalhes_usuario_suporte">
                <div class="input-box-suporte">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Informe seu nome" required>
                </div>
                <div class="input-box-suporte">
                    <span class="detalhes">Sobrenome</span>
                    <input type="text" placeholder="Informe seu nome" required>
                </div>
                <div class="input-box-suporte">
                    <span class="detalhes">Telefone</span>
                    <input type="text" placeholder="Informe seu telefone" required>
                </div>
                <div class="input-box-suporte">
                    <span class="detalhes">Nome da empresa</span>
                    <input type="text" placeholder="Informe o nome da empresa" required>
                </div>
                <div class="input-box-suporte">
                    <span class="detalhes">E-mail</span>
                    <input type="text" placeholder="Informe a capacidade" required>
                </div>
                <div class="input-box-suporte">
                    <span class="detalhes">Capacidade da empresa</span>
                    <input type="text" placeholder="Informe a capacidade" required>
                </div>
                <div class="button_suporte">
                    <input type="submit" value="Enviar">
                </div>
            </div>
        </form>
    </div>
</nav>